.main-footer {
  padding:2em 0;
}

.main-footer-items {
  @include span-columns(10);
  @include shift(1);

}

.main-footer-items__item.main-footer-items__item {
  @include span-columns(4);
  padding-top:2em;
  position:relative;
  @media only screen and (max-width:860px) {
    @include span-columns(12);
    margin-left:0;
  }
  &::before {
    content: '';
    width:60px;
    height:3px;
    top:1.5em;
    left:0;
    position:absolute;
  }
}
.main-footer-items__paragraph {
  font-size:0.9em;
}
.main-footer-items__item--dribbble {
  &::before {
    background-color:$dribbble;
  }
  h1,h2,h3,h4,h5,p,a {
    color:$dribbble;
  }
}

.main-footer-items__item--twitter {
  &::before {
    background-color:$twitter;
  }
  h1,h2,h3,h4,h5,p,a {
    color:$twitter;
  }
}

.main-footer-items__item--email {
  &::before {
    background-color:$primary;
  }
  h1,h2,h3,h4,h5,p,a {
    color:$primary;
  }
}
