.index__intro {
  text-align:center;
  @include span-columns(8);
  @include shift(2);
  margin-top:70px;
  margin-bottom:140px;
  .stars {
    font-size:24px;
    color: $linkColour;
    font-family:"Helvetica", sans-serif;
    font-weight:normal;
  }
  h1 {
    font-size:30px;
    font-weight:500;
    font-family:unquote(map-get($bodytype, font-family));
    margin-bottom:24px;
    line-height:1.4;
  }
}
