.my-work {
  @include span-columns(10);
  @include shift(1);
}

.my-work__heading {
  font-family: unquote(map-get($bodytype, font-family)) !important;
  font-size:100% !important;
}
.my-work__link {
  font-weight:unquote(map-get($bodytype, bold));
  text-decoration:underline;
  &:hover {
    // text-decoration:underline;
    .arrow {
      @include transition(all .2s ease-in-out);
      padding-left:5px;
    }
  }
}
