.main-nav-container {
  @include outer-container;
  max-width:940px;
  @media only screen and (max-width:940px) {
    width:90%;
  }
}
.main-nav {
  @include span-columns(12);
  @include clearfix;
  padding:40px 0;
}

.main-nav__logo {
  font-family: unquote(map-get($headingtype, font-family));
  font-size:22px;
  text-decoration:none;
  color:$headingColour;
  float:left;
  font-weight: map-get($headingtype, bold);
}

.main-nav__contact-me {
  float:right;
  padding:15px 0px;
  font-family: unquote(map-get($headingtype, font-family));
  line-height:1.5;
  color:$headingColour;
  font-size:12px;
  text-transform:uppercase;
  text-decoration:none;
  font-weight: map-get($headingtype, semibold);
}

