.work {
  @include span-columns(10);
  @include shift(1);
}

.work-heading-container {
  background:$secondary;
  width:100%;
  @include clearfix;
  margin-bottom:2em;
}
.work-heading {
  @include span-columns(10);
  @include shift(1);
  padding:1em 0 2.5em 0;
}
