html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  height: 100%;
}

a img {
  border: none;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

.section {
  margin: 0 auto;
  position: relative;
  width: 94%;
}
.section:before, .section:after {
  display: table;
  content: "";
}
.section:after {
  clear: both;
}
@media screen and (min-width: 64em) {
  .section {
    max-width: 64.7058824rem;
  }
}
@media screen and (min-width: 100em) {
  .section {
    max-width: 68.4210526rem;
  }
}

.section--full-width {
  width: 100%;
  max-width: 100%;
}

.single-measure {
  margin: 0 auto;
  max-width: 41.6666667rem;
}
@media screen and (min-width: 40em) {
  .single-measure {
    max-width: 39.2857143rem;
  }
}
@media screen and (min-width: 50em) {
  .single-measure {
    max-width: 40rem;
  }
}
@media screen and (min-width: 64em) {
  .single-measure {
    max-width: 40rem;
  }
}
@media screen and (min-width: 100em) {
  .single-measure {
    max-width: 39.4736842rem;
  }
}

.column {
  margin: 0 auto;
  width: 100%;
  max-width: 41.6666667rem;
}
@media screen and (min-width: 40em) {
  .column {
    float: left;
    margin: inherit;
    max-width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 64em) {
  .column {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 40em) {
  .column--duo {
    width: 50%;
  }
}

@media screen and (min-width: 40em) {
  .column--trio {
    width: 33.333%;
  }
}

@media screen and (min-width: 40em) {
  .column--quad {
    width: 50%;
  }
}
@media screen and (min-width: 50em) {
  .column--quad {
    width: 25%;
  }
}

@media screen and (min-width: 40em) {
  .column--main {
    max-width: 65%;
  }
}
@media screen and (min-width: 50em) {
  .column--main {
    max-width: 65%;
  }
}
@media screen and (min-width: 64em) {
  .column--main {
    max-width: 65%;
  }
}
@media screen and (min-width: 100em) {
  .column--main {
    max-width: 63.5384615%;
  }
}

@media screen and (min-width: 40em) {
  .column--sidebar {
    padding-right: 2rem;
    max-width: 35%;
  }
}
@media screen and (min-width: 50em) {
  .column--sidebar {
    max-width: 35%;
  }
}
@media screen and (min-width: 64em) {
  .column--sidebar {
    padding-right: 4rem;
    max-width: 35%;
  }
}
@media screen and (min-width: 100em) {
  .column--sidebar {
    max-width: 36.4615385%;
  }
}

@media screen and (min-width: 40em) {
  .column--main + .column--sidebar {
    padding-left: 2rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 64em) {
  .column--main + .column--sidebar {
    padding-left: 4rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 64em) {
  .column--trio p,
  .column--quad p,
  .column--sidebar p {
    line-height: 2rem;
    font-size: 0.9941176rem;
    margin-bottom: 1.3280488rem;
    padding-top: 0.6719512rem;
  }
  .column--trio li,
  .column--quad li,
  .column--sidebar li {
    font-size: 0.9941176rem;
  }
}
@media screen and (min-width: 100em) {
  .column--trio p,
  .column--quad p,
  .column--sidebar p {
    line-height: 2rem;
    font-size: 0.9263158rem;
    margin-bottom: 1.3056742rem;
    padding-top: 0.6943258rem;
  }
  .column--trio li,
  .column--quad li,
  .column--sidebar li {
    font-size: 0.9263158rem;
  }
}

@media screen and (min-width: 40em) {
  .column--right {
    max-width: 65%;
    margin-left: 35%;
  }
}
@media screen and (min-width: 50em) {
  .column--right {
    max-width: 65%;
    margin-left: 35%;
  }
}
@media screen and (min-width: 64em) {
  .column--right {
    max-width: 65%;
    margin-left: 35%;
  }
}
@media screen and (min-width: 100em) {
  .column--right {
    max-width: 63.5384615%;
    margin-left: 36.4615385%;
  }
}
@media screen and (min-width: 40em) {
  .column--right .sidenote {
    left: 0;
    padding-left: 1rem;
    padding-right: 2rem;
    position: absolute;
    max-width: 35%;
  }
}
@media screen and (min-width: 50em) {
  .column--right .sidenote {
    max-width: 35%;
  }
}
@media screen and (min-width: 64em) {
  .column--right .sidenote {
    padding-right: 4rem;
    max-width: 35%;
  }
}
@media screen and (min-width: 100em) {
  .column--right .sidenote {
    padding-left: 2rem;
    max-width: 36.4615385%;
  }
}

@media screen and (min-width: 40em) {
  .column--left {
    max-width: 65%;
  }
}
@media screen and (min-width: 50em) {
  .column--left {
    max-width: 65%;
  }
}
@media screen and (min-width: 64em) {
  .column--left {
    max-width: 65%;
  }
}
@media screen and (min-width: 100em) {
  .column--left {
    max-width: 63.5384615%;
  }
}
@media screen and (min-width: 40em) {
  .column--left .sidenote {
    padding-left: 2rem;
    padding-right: 1rem;
    position: absolute;
    max-width: 35%;
    left: 65%;
  }
}
@media screen and (min-width: 50em) {
  .column--left .sidenote {
    max-width: 35%;
    left: 65%;
  }
}
@media screen and (min-width: 64em) {
  .column--left .sidenote {
    padding-left: 4rem;
    max-width: 35%;
    left: 65%;
  }
}
@media screen and (min-width: 100em) {
  .column--left .sidenote {
    padding-right: 2rem;
    max-width: 36.4615385%;
    left: 63.5384615%;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 75%;
}
@media screen and (min-width: 40em) {
  html {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 50em) {
  html {
    font-size: 93.75%;
  }
}
@media screen and (min-width: 64em) {
  html {
    font-size: 106.25%;
  }
}
@media screen and (min-width: 100em) {
  html {
    font-size: 118.75%;
  }
}

body {
  font-family: "Chronicle Display A", "Chronicle Display B";
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3333333rem;
}
@media screen and (min-width: 40em) {
  body {
    font-size: 1.2142857rem;
  }
}
@media screen and (min-width: 50em) {
  body {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 64em) {
  body {
    font-size: 1.1764706rem;
  }
}
@media screen and (min-width: 100em) {
  body {
    font-size: 1.1578947rem;
  }
}

a {
  -webkit-transition: color .1s, background-color .1s;
  -moz-transition: color .1s, background-color .1s;
  -ms-transition: color .1s, background-color .1s;
  -o-transition: color .1s, background-color .1s;
  transition: color .1s, background-color .1s;
  color: #FF333D;
  text-decoration: none;
}
a .arrow {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover, a:active, a:focus {
  color: #f9816e;
  text-decoration: none;
}
a:hover .arrow, a:active .arrow, a:focus .arrow {
  padding-left: 3px;
}

.typeset p a, .typeset li a, .typeset h1 a {
  background-image: -webkit-linear-gradient(top, transparent 50%, #fbac9f 50%);
  background-image: -moz-linear-gradient(top, transparent 50%, #fbac9f 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #fbac9f 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #fbac9f 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 #FFF, 0.15rem 0 #FFF, -0.1rem 0 #FFF, -0.15rem 0 #FFF;
  font-weight: 900;
  /*font-style: italic;*/
}
.typeset p a.white-link, .typeset li a.white-link, .typeset h1 a.white-link {
  color: #fff;
  background-image: -webkit-linear-gradient(top, transparent 50%, white 50%);
  background-image: -moz-linear-gradient(top, transparent 50%, white 50%);
  background-image: -o-linear-gradient(top, transparent 50%, white 50%);
  background-image: linear-gradient(to bottom, transparent 50%, white 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 #FF333D, 0.15rem 0 #FF333D, -0.1rem 0 #FF333D, -0.15rem 0 #FF333D;
}
.typeset p a.white-link:hover, .typeset p a.white-link:active, .typeset p a.white-link:focus, .typeset li a.white-link:hover, .typeset li a.white-link:active, .typeset li a.white-link:focus, .typeset h1 a.white-link:hover, .typeset h1 a.white-link:active, .typeset h1 a.white-link:focus {
  background-image: -webkit-linear-gradient(top, transparent 50%, #fdd6d0 50%);
  background-image: -moz-linear-gradient(top, transparent 50%, #fdd6d0 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #fdd6d0 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #fdd6d0 50%);
}
.typeset p a.dribbble-link, .typeset li a.dribbble-link, .typeset h1 a.dribbble-link {
  color: #EC4989;
  background-image: -webkit-linear-gradient(top, transparent 50%, #f6a5c5 50%);
  background-image: -moz-linear-gradient(top, transparent 50%, #f6a5c5 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #f6a5c5 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #f6a5c5 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 #fff,0.15rem 0 #fff,-0.1rem 0 #fff,-0.15rem 0 #fff;
}
.typeset p a.dribbble-link:hover, .typeset p a.dribbble-link:active, .typeset p a.dribbble-link:focus, .typeset li a.dribbble-link:hover, .typeset li a.dribbble-link:active, .typeset li a.dribbble-link:focus, .typeset h1 a.dribbble-link:hover, .typeset h1 a.dribbble-link:active, .typeset h1 a.dribbble-link:focus {
  background-image: -webkit-linear-gradient(top, transparent 50%, #f6a5c5 50%);
  background-image: -moz-linear-gradient(top, transparent 50%, #f6a5c5 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #f6a5c5 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #f6a5c5 50%);
}
.typeset p a.twitter-link, .typeset li a.twitter-link, .typeset h1 a.twitter-link {
  color: #4BAAF4;
  background-image: -webkit-linear-gradient(top, transparent 50%, #abd7fa 50%);
  background-image: -moz-linear-gradient(top, transparent 50%, #abd7fa 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #abd7fa 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #abd7fa 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 #fff,0.15rem 0 #fff,-0.1rem 0 #fff,-0.15rem 0 #fff;
}
.typeset p a.twitter-link:hover, .typeset p a.twitter-link:active, .typeset p a.twitter-link:focus, .typeset li a.twitter-link:hover, .typeset li a.twitter-link:active, .typeset li a.twitter-link:focus, .typeset h1 a.twitter-link:hover, .typeset h1 a.twitter-link:active, .typeset h1 a.twitter-link:focus {
  background-image: -webkit-linear-gradient(top, transparent 50%, #abd7fa 50%);
  background-image: -moz-linear-gradient(top, transparent 50%, #abd7fa 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #abd7fa 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #abd7fa 50%);
}
.typeset p a:hover, .typeset p a:active, .typeset p a:focus, .typeset li a:hover, .typeset li a:active, .typeset li a:focus, .typeset h1 a:hover, .typeset h1 a:active, .typeset h1 a:focus {
  background-image: -webkit-linear-gradient(top, transparent 50%, #fdd6d0 50%);
  background-image: -moz-linear-gradient(top, transparent 50%, #fdd6d0 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #fdd6d0 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #fdd6d0 50%);
}
.typeset p {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem;
  color: #35322f;
}
@media screen and (min-width: 40em) {
  .typeset p {
    margin-bottom: 1.4007043rem;
    padding-top: 0.5992957rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset p {
    margin-bottom: 1.39599rem;
    padding-top: 0.60401rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset p {
    margin-bottom: 1.3882253rem;
    padding-top: 0.6117747rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset p {
    margin-bottom: 1.3820953rem;
    padding-top: 0.6179047rem;
  }
}
.typeset h1, .typeset h2, .typeset h3, .typeset h4, .typeset h5, .typeset h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #35322F;
  font-family: "Chronicle Display A", "Chronicle Display B";
  font-style: normal;
  font-weight: 900;
}
.typeset h1, .typeset .alpha {
  line-height: 3rem;
  font-size: 2.3333333rem;
  margin-bottom: 0.26999rem;
  padding-top: 0.73001rem;
}
@media screen and (min-width: 40em) {
  .typeset h1, .typeset .alpha {
    font-size: 2.1428571rem;
    margin-bottom: 0.2071329rem;
    padding-top: 0.7928671rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset h1, .typeset .alpha {
    font-size: 2.1333333rem;
    margin-bottom: 0.20399rem;
    padding-top: 0.79601rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset h1, .typeset .alpha {
    font-size: 2.3529412rem;
    margin-bottom: 0.2764606rem;
    padding-top: 0.7235394rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset h1, .typeset .alpha {
    font-size: 2.6315789rem;
    margin-bottom: 0.3684111rem;
    padding-top: 0.6315889rem;
  }
}
.typeset h2, .typeset .beta {
  line-height: 3rem;
  font-size: 2.0833333rem;
  margin-bottom: 0.18749rem;
  padding-top: 0.81251rem;
}
@media screen and (min-width: 40em) {
  .typeset h2, .typeset .beta {
    font-size: 1.9rem;
    margin-bottom: 0.12699rem;
    padding-top: 0.87301rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset h2, .typeset .beta {
    font-size: 1.8733333rem;
    margin-bottom: 0.11819rem;
    padding-top: 0.88181rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset h2, .typeset .beta {
    font-size: 2.0882353rem;
    margin-bottom: 0.1891076rem;
    padding-top: 0.8108924rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset h2, .typeset .beta {
    font-size: 2.3105263rem;
    margin-bottom: 0.2624637rem;
    padding-top: 0.7375363rem;
  }
}
.typeset h3, .typeset .gamma {
  line-height: 3rem;
  font-size: 1.8666667rem;
  margin-bottom: 0.11599rem;
  padding-top: 0.88401rem;
}
@media screen and (min-width: 40em) {
  .typeset h3, .typeset .gamma {
    font-size: 1.7142857rem;
    margin-bottom: 0.0657043rem;
    padding-top: 0.9342957rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset h3, .typeset .gamma {
    font-size: 1.7066667rem;
    margin-bottom: 0.06319rem;
    padding-top: 0.93681rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset h3, .typeset .gamma {
    font-size: 1.7647059rem;
    margin-bottom: 0.0823429rem;
    padding-top: 0.9176571rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset h3, .typeset .gamma {
    font-size: 1.8578947rem;
    margin-bottom: 0.1130953rem;
    padding-top: 0.8869047rem;
  }
}
.typeset h4, .typeset .delta {
  line-height: 2rem;
  font-size: 1.6666667rem;
  margin-bottom: -0.45001rem;
  padding-top: 0.45001rem;
}
@media screen and (min-width: 40em) {
  .typeset h4, .typeset .delta {
    font-size: 1.5214286rem;
    margin-bottom: -0.4979386rem;
    padding-top: 0.4979386rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset h4, .typeset .delta {
    font-size: 1.5rem;
    margin-bottom: -0.50501rem;
    padding-top: 0.50501rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset h4, .typeset .delta {
    font-size: 1.5705882rem;
    margin-bottom: -0.4817159rem;
    padding-top: 0.4817159rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset h4, .typeset .delta {
    font-size: 1.6368421rem;
    margin-bottom: -0.4598521rem;
    padding-top: 0.4598521rem;
  }
}
.typeset h5, .typeset .epsilon {
  line-height: 2rem;
  font-size: 1.4916667rem;
  margin-bottom: -0.50776rem;
  padding-top: 0.50776rem;
}
@media screen and (min-width: 40em) {
  .typeset h5, .typeset .epsilon {
    font-size: 1.3714286rem;
    margin-bottom: -0.5474386rem;
    padding-top: 0.5474386rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset h5, .typeset .epsilon {
    font-size: 1.3666667rem;
    margin-bottom: -0.54901rem;
    padding-top: 0.54901rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset h5, .typeset .epsilon {
    font-size: 1.3235294rem;
    margin-bottom: -0.5632453rem;
    padding-top: 0.5632453rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset h5, .typeset .epsilon {
    font-size: 1.3157895rem;
    margin-bottom: -0.5657995rem;
    padding-top: 0.5657995rem;
  }
}
.typeset h6, .typeset .zeta {
  line-height: 2rem;
  font-size: 1.3333333rem;
  margin-bottom: -0.56001rem;
  padding-top: 0.56001rem;
}
@media screen and (min-width: 40em) {
  .typeset h6, .typeset .zeta {
    font-size: 1.2142857rem;
    margin-bottom: -0.5992957rem;
    padding-top: 0.5992957rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset h6, .typeset .zeta {
    font-size: 1.2rem;
    margin-bottom: -0.60401rem;
    padding-top: 0.60401rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset h6, .typeset .zeta {
    font-size: 1.1764706rem;
    margin-bottom: -0.6117747rem;
    padding-top: 0.6117747rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset h6, .typeset .zeta {
    font-size: 1.1578947rem;
    margin-bottom: -0.6179047rem;
    padding-top: 0.6179047rem;
  }
}
.typeset ul, .typeset ol {
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem;
}
@media screen and (min-width: 40em) {
  .typeset ul, .typeset ol {
    margin-bottom: 1.4007043rem;
    padding-top: 0.5992957rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset ul, .typeset ol {
    margin-bottom: 1.39599rem;
    padding-top: 0.60401rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset ul, .typeset ol {
    margin-bottom: 1.3882253rem;
    padding-top: 0.6117747rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset ul, .typeset ol {
    margin-bottom: 1.3820953rem;
    padding-top: 0.6179047rem;
  }
}
.typeset ul li, .typeset ol li {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  margin-left: 2rem;
}
@media screen and (min-width: 40em) {
  .typeset ul li, .typeset ol li {
    margin-left: 0;
  }
}
.typeset ul li ol, .typeset ul li ul, .typeset ol li ol, .typeset ol li ul {
  padding-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.typeset ol {
  list-style-type: none;
}
.typeset ol li {
  counter-increment: top-level;
}
.typeset ol li:before {
  -webkit-font-feature-settings: 'lnum' 1, 'tnum' 1;
  -moz-font-feature-settings: 'lnum' 1, 'tnum' 1;
  -ms-font-feature-settings: 'lnum' 1, 'tnum' 1;
  -o-font-feature-settings: 'lnum' 1, 'tnum' 1;
  font-feature-settings: 'lnum' 1, 'tnum' 1;
  content: counter(top-level) ".";
  margin-left: -3rem;
  position: absolute;
  text-align: right;
  width: 2em;
}
.typeset ol li ul li:before {
  content: '';
}
.typeset ol li ul li ol li {
  counter-increment: alt-level;
}
.typeset ol li ul li ol li:before {
  content: counter(alt-level) ".";
}
.typeset ol li ol li {
  counter-increment: sub-level;
}
.typeset ol li ol li:before {
  content: counter(top-level) "." counter(sub-level);
}
.typeset ol li ol li ul li:before {
  content: '';
}
.typeset ol li ol li ol li {
  counter-increment: sub-sub-level;
}
.typeset ol li ol li ol li:before {
  content: counter(top-level) "." counter(sub-level) "." counter(sub-sub-level);
}
.typeset dl {
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem;
}
@media screen and (min-width: 40em) {
  .typeset dl {
    margin-bottom: 1.4007043rem;
    padding-top: 0.5992957rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset dl {
    margin-bottom: 1.39599rem;
    padding-top: 0.60401rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset dl {
    margin-bottom: 1.3882253rem;
    padding-top: 0.6117747rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset dl {
    margin-bottom: 1.3820953rem;
    padding-top: 0.6179047rem;
  }
}
.typeset dl dt, .typeset dl dd {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  margin-left: 2rem;
}
@media screen and (min-width: 40em) {
  .typeset dl dt, .typeset dl dd {
    margin-left: 0;
  }
}
.typeset dl dt {
  font-weight: 700;
}
.typeset dl dd + dt {
  padding-top: 1rem;
}
.typeset table {
  -webkit-font-feature-settings: 'liga' 1, 'lnum' 1, 'tnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'lnum' 1, 'tnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'liga' 1, 'lnum' 1, 'tnum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 1, 'lnum' 1, 'tnum' 1, 'kern' 1;
  font-feature-settings: 'liga' 1, 'lnum' 1, 'tnum' 1, 'kern' 1;
  font-family: "Chronicle Display A", "Chronicle Display B";
  font-style: normal;
  font-weight: 700;
  width: 100%;
  line-height: 2rem;
  font-size: 1.1916667rem;
  margin-bottom: -0.60676rem;
  padding-top: 0.60676rem;
}
@media screen and (min-width: 40em) {
  .typeset table {
    font-size: 1.0928571rem;
    margin-bottom: -0.6393671rem;
    padding-top: 0.6393671rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset table {
    font-size: 1.0866667rem;
    margin-bottom: -0.64141rem;
    padding-top: 0.64141rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset table {
    font-size: 0.9941176rem;
    margin-bottom: -0.6719512rem;
    padding-top: 0.6719512rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset table {
    font-size: 0.9263158rem;
    margin-bottom: -0.6943258rem;
    padding-top: 0.6943258rem;
  }
}
.typeset table thead th {
  line-height: 2rem;
  font-size: 1.3333333rem;
  margin-bottom: -0.56001rem;
  padding-top: 0.56001rem;
  padding-bottom: 1px;
}
@media screen and (min-width: 40em) {
  .typeset table thead th {
    font-size: 1.2142857rem;
    margin-bottom: -0.5992957rem;
    padding-top: 0.5992957rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset table thead th {
    font-size: 1.2rem;
    margin-bottom: -0.60401rem;
    padding-top: 0.60401rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset table thead th {
    font-size: 1.1764706rem;
    margin-bottom: -0.6117747rem;
    padding-top: 0.6117747rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset table thead th {
    font-size: 1.1578947rem;
    margin-bottom: -0.6179047rem;
    padding-top: 0.6179047rem;
  }
}
.typeset b, .typeset strong, .typeset .bold {
  font-weight: 700;
}
.typeset em, .typeset i, .typeset .italic {
  font-style: italic;
}
.typeset small, .typeset .caption {
  font-family: "Chronicle Display A", "Chronicle Display B";
  font-style: normal;
  font-weight: 700;
  font-size: 1.0666667rem;
}
@media screen and (min-width: 40em) {
  .typeset small, .typeset .caption {
    font-size: 0.9714286rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset small, .typeset .caption {
    font-size: 0.96rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset small, .typeset .caption {
    font-size: 0.8823529rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset small, .typeset .caption {
    font-size: 0.8210526rem;
  }
}
.typeset small {
  line-height: 1rem;
}
.typeset .caption {
  color: #888789;
  line-height: 2rem;
  margin-bottom: 1.35199rem;
  padding-top: 0.64801rem;
}
@media screen and (min-width: 40em) {
  .typeset .caption {
    margin-bottom: 1.3205614rem;
    padding-top: 0.6794386rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset .caption {
    margin-bottom: 1.31679rem;
    padding-top: 0.68321rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset .caption {
    margin-bottom: 1.2911665rem;
    padding-top: 0.7088335rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset .caption {
    margin-bottom: 1.2709374rem;
    padding-top: 0.7290626rem;
  }
}
.typeset h1 + .caption, .typeset .alpha + .caption, .typeset h2 + .caption, .typeset .beta + .caption, .typeset h3 + .caption, .typeset .gamma + .caption {
  margin-top: -1rem;
}
.typeset .delta + .caption, .typeset .epsilon + .caption, .typeset .zeta + .caption {
  margin-top: 0rem;
}
.typeset blockquote p {
  border-left: 0.15rem solid #FF333D;
  font-style: italic;
  padding-left: 1rem;
  margin-bottom: 1.87999rem;
  padding-bottom: 0.56001rem;
}
@media screen and (min-width: 40em) {
  .typeset blockquote p {
    margin-bottom: 1.8014186rem;
    padding-bottom: 0.5992957rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset blockquote p {
    margin-bottom: 1.79199rem;
    padding-bottom: 0.60401rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset blockquote p {
    margin-bottom: 1.7764606rem;
    padding-bottom: 0.6117747rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset blockquote p {
    margin-bottom: 1.7642005rem;
    padding-bottom: 0.6179047rem;
  }
}
@media screen and (min-width: 40em) {
  .typeset blockquote {
    margin-left: -1rem;
  }
}
.typeset hr {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#888789));
  background-image: -webkit-linear-gradient(top, transparent 50%, #888789 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #888789 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  border: 0;
  margin: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.typeset code, .typeset pre {
  background-color: #F5F4F2;
  font-family: Menlo, monospace;
}
.typeset pre {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
.typeset code {
  line-height: 1rem;
  font-size: 1.0666667rem;
}
@media screen and (min-width: 40em) {
  .typeset code {
    font-size: 0.9714286rem;
  }
}
@media screen and (min-width: 50em) {
  .typeset code {
    font-size: 0.96rem;
  }
}
@media screen and (min-width: 64em) {
  .typeset code {
    font-size: 0.8823529rem;
  }
}
@media screen and (min-width: 100em) {
  .typeset code {
    font-size: 0.8210526rem;
  }
}
.typeset .upper {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.typeset .small-caps {
  -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
  -moz-font-feature-settings: 'smcp' 1, 'kern' 1;
  -ms-font-feature-settings: 'smcp' 1, 'kern' 1;
  -o-font-feature-settings: 'smcp' 1, 'kern' 1;
  font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: 0.1rem;
}
.typeset .lining-numerals {
  -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'lnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'lnum' 1, 'kern' 1;
  font-feature-settings: 'lnum' 1, 'kern' 1;
}
.typeset .oldstyle-numerals {
  -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'onum' 1, 'kern' 1;
  -ms-font-feature-settings: 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'onum' 1, 'kern' 1;
  font-feature-settings: 'onum' 1, 'kern' 1;
}

.heading--bordered {
  border-bottom: 1px solid #E4E5E6;
  padding-bottom: .175rem;
}

.paragraph--bordered {
  margin-top: 1rem;
}

.heading--white.heading--white {
  color: #fff;
}
.heading--white.heading--white.heading--bordered {
  border-color: #fff;
}

.image--padded {
  padding: 1em 0;
}

img.image--centered {
  margin: 0 auto !important;
  display: block;
}

.main-container {
  max-width: 780px;
  padding: 24px 0;
  margin: 0 auto;
}
.main-container img {
  max-width: 100%;
}

.main-nav-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.main-nav-container:before, .main-nav-container:after {
  display: table;
  content: "";
}
.main-nav-container:after {
  clear: both;
}

.main-nav-container--secondary {
  background-color: #2B2D42;
  background-size: cover;
  background-position: 50% 50%;
  min-height:480px;
}

.main-nav-container--sell-my-car {
  background-image:url("../../assets/images/bg-images/sell-your-car.png");
}
.main-nav-container--juce {
  background-image:url("../../assets/images/bg-images/juce.png"); 
}
.main-nav-container--secondary .heading--work {
  color: #fff;
  font-size: 56px;
  line-height:1.2;
  font-weight: 600;
  text-align:center;
  margin: 0 auto;
}

.nav-heading-container {
  width: 940px;
  margin: 100px auto;
}

@media only screen and (max-width:940px) {

  .main-nav-container--secondary {
    min-height: 50vh;
  }

  .main-nav-container--secondary .heading--work {
    font-size:40px;
  }

}
@media only screen and (max-width: 940px) {
  .nav-heading-container {
    width:90%;
    margin:80px auto;
  }
}

.main-nav-container--secondary .main-nav__logo {
  color: #fff;
}
.main-nav-container--secondary .main-nav__contact-me {
  color: #fff;
}

.main-nav {
  padding: 40px 0;
  max-width: 940px;
  margin: 0 auto;
}
.main-nav:before, .main-nav:after {
  display: table;
  content: "";
}
.main-nav:after {
  clear: both;
}
@media only screen and (max-width: 940px) {
  .main-nav {
    width: 90%;
  }
}

.main-nav__logo {
  font-family: "Knockout 52 A", "Knockout 52 B";
  font-size: 18px;
  text-decoration: none;
  color: #35322F;
  text-transform: uppercase;
  
  float: left;
  font-weight: 400;
}

.main-nav__contact-me {
  float: right;
  padding: 10px 0px;
  font-family: "Knockout 52 A", "Knockout 52 B";
  line-height: 1;
  color: #35322F;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}
@media only screen and (max-width: 640px) {
  .main-nav__contact-me {
    padding: 6px 0;
  }
}

.index__intro {
  float: left;
  display: block;
  margin-right: 2.3576516%;
  width: 82.9403914%;
  margin-left: 8.5298043%;
  margin-top: 40px;
}


.index__intro:last-child {
  margin-right: 0;
}
.index__intro h1 {
  font-weight: 400;
  font-family: "Chronicle Display A", "Chronicle Display B";
  margin-bottom: 24px;
  line-height: 1.4;
}

.index__intro h1 strong {
  font-weight:900;
}

@media only screen and (min-width: 1024px) {
  .index__intro h1 {
    font-size: 46px;
  }
}
.index__intro h1 .index__heading-anchor {
  font-weight: 900;
}

.about-me-container:before, .about-me-container:after {
  display: table;
  content: "";
}
.about-me-container:after {
  clear: both;
}

.about-me {
  float: left;
  display: block;
  margin-right: 2.3576516%;
  width: 82.9403914%;
  margin-left: 8.5298043%;
  padding-bottom: 3em;
}
.about-me:last-child {
  margin-right: 0;
}

.my-work-container {
  max-width: 100%;
  width: 100%;
  background: #FF333D;
  position: relative;
  overflow: hidden;
}
.my-work-container:before, .my-work-container:after {
  display: table;
  content: "";
}
.my-work-container:after {
  clear: both;
}
.my-work-container::before {
  background: #fff;
  content: '';
  width: 110%;
  height: 80px;
  position: absolute;
  top: -50px;
  transform: rotate(-3deg);
  left: -10px;
}

.my-work {
  float: left;
  display: block;
  margin-right: 2.3576516%;
  width: 82.9403914%;
  margin-left: 8.5298043%;
  padding: 5em 0 2em 0;
}
.my-work:last-child {
  margin-right: 0;
}
.my-work h1, .my-work h2, .my-work h3, .my-work h4, .my-work h5, .my-work p {
  color: #fff;
}

.my-work__headline {
  margin-top: 2em;
}

.my-work__paragraph {
  position: relative;
}


.my-work__paragraph:after {
  width: 60px;
  height: 1px;
  background: #E4E5E6;
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
}
.my-work__paragraph:last-child:after {
  background: none;
}

.work {
  float: left;
  display: block;
  margin-right: 2.3576516%;
  width: 82.9403914%;
  margin-left: 8.5298043%;
}
.work:last-child {
  margin-right: 0;
}

.work-heading-container {
  background: #0097DB;
  width: 100%;
  margin-bottom: 2em;
}
.work-heading-container:before, .work-heading-container:after {
  display: table;
  content: "";
}
.work-heading-container:after {
  clear: both;
}

.work-heading {
  float: left;
  display: block;
  margin-right: 2.3576516%;
  width: 82.9403914%;
  margin-left: 8.5298043%;
  padding: 1em 0 2.5em 0;
}
.work-heading:last-child {
  margin-right: 0;
}

.main-footer {
  padding: 2em 0;
}

.main-footer-items {
  float: left;
  display: block;
  margin-right: 2.3576516%;
  width: 82.9403914%;
  margin-left: 8.5298043%;
}
.main-footer-items:last-child {
  margin-right: 0;
}

.main-footer-items__item.main-footer-items__item {
  float: left;
  display: block;
  margin-right: 2.3576516%;
  width: 31.7615656%;
  padding-top: 2em;
  position: relative;
}
.main-footer-items__item.main-footer-items__item:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 860px) {
  .main-footer-items__item.main-footer-items__item {
    float: left;
    display: block;
    margin-right: 2.3576516%;
    width: 100%;
    margin-left: 0;
  }
  .main-footer-items__item.main-footer-items__item:last-child {
    margin-right: 0;
  }
}
.main-footer-items__item.main-footer-items__item::before {
  content: '';
  width: 60px;
  height: 3px;
  top: 1.5em;
  left: 0;
  position: absolute;
}

.main-footer-items__paragraph {
  font-size: 0.9em;
}

.main-footer-items__item--dribbble::before {
  background-color: #EC4989;
}
.main-footer-items__item--dribbble h1, .main-footer-items__item--dribbble h2, .main-footer-items__item--dribbble h3, .main-footer-items__item--dribbble h4, .main-footer-items__item--dribbble h5, .main-footer-items__item--dribbble p, .main-footer-items__item--dribbble a {
  color: #EC4989;
}

.main-footer-items__item--twitter::before {
  background-color: #4BAAF4;
}
.main-footer-items__item--twitter h1, .main-footer-items__item--twitter h2, .main-footer-items__item--twitter h3, .main-footer-items__item--twitter h4, .main-footer-items__item--twitter h5, .main-footer-items__item--twitter p, .main-footer-items__item--twitter a {
  color: #4BAAF4;
}

.main-footer-items__item--email::before {
  background-color: #FF333D;
}
.main-footer-items__item--email h1, .main-footer-items__item--email h2, .main-footer-items__item--email h3, .main-footer-items__item--email h4, .main-footer-items__item--email h5, .main-footer-items__item--email p, .main-footer-items__item--email a {
  color: #FF333D;
}
