* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: TofinoBold;
  src: url('Tofino-UltraPersonal.ttf');
}
@font-face {
  font-family: TofinoRegular;
  src: url('Tofino-RegularPersonal.ttf');
}
body {
  font-family: 'TofinoRegular';
}
.albion-text-bold,
h1,h2,h3,h4,h5 {
  font-family: 'TofinoBold';
}

.bg-albion {
  background-color: #242A44;
}
.text-albion {
  color: #242A44;
}
.paragraph-albion {
  color: #BAC2E8;
}
