{% block content %}
<section id="baseline">
  <div class="section typeset section--full-width">
    <div class="single">
      <div class="main-container">
          <main class="index__intro">
            <h1>
              Hello, my name is <strong>Cai.</strong>
            </h1>
            <h1>
              I’m a London based Product Designer, currently working at <a href="http://www.hassle.com" title="Hassle.com" class="index__heading-anchor">Hassle.com</a>
            </h1>
          </main>
        </div>
      <div class="about-me-container main-container">
        <div class="about-me">
          <h3 class="heading--bordered">About me</h3>
          <p class="paragraph--bordered">
            I’m a startup loving designer, who enjoys designing great products. Currently I help solve problems at <a href="https://hassle.com" title="Hassle.com">Hassle.com,</a> the easiest way for you to book a cleaner online.
          </p>
          <p>
            Before Hassle.com, I worked at <a href="http://www.absoluteradio.co.uk" title="Absolute Radio">Absolute Radio</a>, helping to design and develop a great experience in listening to online radio. I have designed for screens, physical products and installations, including most recently an exhibition in the London Design Museum.
          </p>
          <p>
            I’m a strong advocator of measuring what you ship; setting metrics allows the objectivity in design; If you'd like to hear more, feel free to <a href="mailto:hello@caidavies.me" title="contact me">contact me.</a>
          </p>
        </div>
      </div>
    <div class="my-work-container">
      <div class="main-container">
        <div class="my-work">
          <h3 class="heading--bordered">My work</h3>
          <h4 class="my-work__headline">Hassle application funnel</h4>
          <p class="my-work__paragraph">
            the Hassle.com application process for cleaners had certain metrics that needed to be improved. From discovery to build I led this project to try and beat our set success metrics. <a href="#" class="white-link">Read more <span class="arrow">→</span></a>
          </p>
          <h4 class="my-work__headline">Help.hassle.com</h4>
          <p class="my-work__paragraph">
            To help Hassle.com customers to find help, I led a project to integrate our product with Desks's help centre. I led this integration from discovery, design to build and review. <a href="#" class="white-link">Read more <span class="arrow">→</span></a>
          </p>
          <h4 class="my-work__headline">Cleaner performance</h4>
          <p class="my-work__paragraph">
            This feature was built quickly with our CPO Jules, a way for cleaners to track their performance across 10 different performance stats. Taking a mobile first approach, this feature aimed to get quick feedback from our users. <a href="#" class="white-link">Read more <span class="arrow">→</span></a>
          </p>
          <h4 class="my-work__headline">Cleaner onboarding</h4>
          <p class="my-work__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper rhoncus massa vel vulputate. Sed dignissim sit amet neque a posuere. Sed sed arcu ante. Pellentesque habitant morbi tristique senectus et netus. <a href="#" class="white-link">Read more <span class="arrow">→</span></a>
          </p>
        </div>
      </div>
    </div>

    </div>
  </div>
</section>
{% endblock %}
