{% block content %}
<section id="baseline" class="main-container">
  <div class="section typeset">
    <div class="single-measure">
      <main class="index__intro">
        <img src="assets/images/avatar.png" width="105px"/>
<!--           <span class="stars">
            ⁂
          </span> -->
          <h1>
            Hello, my name is <strong>Cai.</strong>
          </h1>
          <h1>
            I’m a London based Product Designer, working at <a href="http://www.hassle.com" title="Hassle.com">Hassle.com</a>
          </h1>
        </main>
      </div>
    </div>
    <div class="section typeset about-me">
      <div class="column column--main column--right">
        <p class="caption sidenote">About me</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper rhoncus massa vel vulputate. Sed dignissim sit amet neque a posuere. Sed sed arcu ante. Pellentesque habitant morbi tristique senectus et netus et malesuada.
        </p>
        <p>
          Nunc malesuada purus quis magna vehicula, nec vestibulum sem elementum. Nulla et diam et magna commodo pulvinar facilisis at sem.
        </p>
      </div>
    </div>
    <div class="section typeset my-work">
      <div class="column column--main column--right">
        <p class="caption sidenote">My work</p>
        <h1 class="my-work__heading">Work item 1</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper rhoncus massa vel vulputate. Sed dignissim sit amet neque a posuere. Sed sed arcu ante. Pellentesque habitant morbi tristique senectus. <a href="#" class="my-work__link">Read more <span class="arrow">→</span></a>
        </p>
      </div>
      <div class="column column--main column--right">
        <h1 class="my-work__heading">Work item 2</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper rhoncus massa vel vulputate. Sed dignissim sit amet neque a posuere. Sed sed arcu ante. Pellentesque habitant morbi tristique senectus. <a href="#" class="my-work__link">Read more <span class="arrow">→</span></a>
        </p>
      </div>
      <div class="column column--main column--right">
        <h1 class="my-work__heading">Work item 3</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper rhoncus massa vel vulputate. Sed dignissim sit amet neque a posuere. Sed sed arcu ante. Pellentesque habitant morbi tristique senectus. <a href="#" class="my-work__link">Read more <span class="arrow">→</span></a>
        </p>
      </div>
      <div class="column column--main column--right">
        <h1 class="my-work__heading">Work item 4</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper rhoncus massa vel vulputate. Sed dignissim sit amet neque a posuere. Sed sed arcu ante. Pellentesque habitant morbi tristique senectus. <a href="#" class="my-work__link">Read more <span class="arrow">→</span></a>
        </p>
      </div>
    </div>
</div>
</section>

{% endblock %}
