{% block content %}
  <section id="baseline">
    <div class="section typeset">
      <div class="single-measure">
        <main class="index__intro">
          <span class="stars">
            ⁂
          </span>
          <h1>
            Hello, my name is <strong>Cai.</strong>
          </h1>
          <h1>
            I’m a London based Product Designer, working at <a href="http://www.hassle.com" title="Hassle.com">Hassle.com</a>
          </h1>
        </main>
      </div>
    </div>
  </section>

{% endblock %}
