{% block navclass %}main-nav-container--secondary{% endblock %}
{% block content %}
<section id="baseline">
  <div class="section typeset section--full-width">
    <div class="single">
      <div class="work-heading-container">
        <div class="main-container">
          <div class="work-heading">
            <h1 class="heading--bordered heading--work heading--white">Cleaner onboarding</h1>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="work">
          <h1>
            The problem
          </h1>
          <p>
            The main reason for cleaners churning from the Hassle platform is due to lack of engagement on the platform. Within the 248 hours, it was apparent that if cleaners didn’t get any cleans, they had a much higher chance of losing their interest on the platform.
          </p>
          <h2>
            The hypothesis
          </h2>
          <p>
            The hypothesis was to prompt cleaners to take more actions, and/or inform them of ways they can engage with our platform. These prompts would be sent via email, after a certain time period (48 hours), and would have different criteria according to the actions of the cleaner.
          </p>

          <h2>
            The process
          </h2>
          <p>
            Due to the scale of growth at Hassle.com at the time, my input on this feature came later on in the process. Due to this, we inherited already written copy, which was in the form of a plain text email, which displayed some links as well as stats of the cleaners first few weeks.
          </p>
          <p>
            Upon seeing this, I decided we should go back to the first step of defining what the real problem was. It felt as if the ‘cleaner stats’, coupled with a plain text email wouldn’t solve the root problem we were trying to address – engagement.
          </p>
          <p>
            We settled on going forward with a more focussed approach; each email would either have one ‘main action’, or have supporting 3 actions in the email. We scrapped showing cleaner stats, as it convoluted the email, we decided to add the cleaner stats in a separate feature; see this piece of work here.
          </p>
          <p>
            Across the feature, I created a pattern in layouts – an illustration, action/actions & an FAQ call to action. This would  create five different emails, as follows:
          </p>
          <ol>
            <li>Go ‘live’ email</li>
            <li>‘Won’ a job</li>
            <li>Didn’t ‘win’ any jobs</li>
            <li>No jobs sent</li>
            <li>Said no to jobs</li>
          </ol>
        </div>
        <img src="/assets/images/cleaner-onboarding/01.png" class="image image--padded image--centered" width="940"/>
        <img src="/assets/images/cleaner-onboarding/02.png" class="image image--padded image--centered" width="940"/>
        <img src="/assets/images/cleaner-onboarding/03.png" class="image image--padded image--centered" width="940"/>
        <img src="/assets/images/cleaner-onboarding/04.png" class="image image--padded image--centered" width="940"/>
        <img src="/assets/images/cleaner-onboarding/05.png" class="image image--padded image--centered" width="940"/>
        <img src="/assets/images/cleaner-onboarding/06.png" class="image image--padded image--centered" width="940"/>
      </div>
    </div>
  </div>
</section>
{% endblock %}
