{% block content %}
<section id="baseline">
  <div class="section typeset section--full-width">
    <div class="single">
      <div class="work-heading-container">
        <div class="main-container">
          <div class="work-heading">
          <h1 class="heading--bordered heading--work heading--white">Application funnel @ Hassle.com</h1>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="work">
          <h2>
            The problem
          </h2>
          <p>
            The problem we faced to tackle in this iteration of the cleaner application funnel, was our bounce rate. With a bounce rate of 65%, though the conversion rate we had was suprisingly high, we felt there were certain ways we could improve that metric.
          </p>

          <p>
            A few problems we identified from the current landing page were:
          </p>
          <ol>
            <li>
              No pictures/visuals of cleaners present (we have seen this as a success in Facebook advertising channels)
            </li>
            <li>
              Lack of 'focus' on benefits of Hassle.com.
            </li>
            <li>
              Large form presented up front – assuming a lengthy application procedure.
            </li>
          </ol>
          <h2>
            Discovery
          </h2>
          <p>
            To win the trust of cleaners upon entering the landing page, we wanted to eliminate the lack of 'focus' of the benefits of working as a cleaner at Hassle.com. To do this, we used data gathered from cleaner surveys. The most prominent being the following:
          </p>
          <h4>Main concerns for cleaners</h4>
          <ol>
            <li>
              How much am I paid? – no cash involved.
            </li>
            <li>
              Flexibility (Locality – “Choose where you want to work”)
            </li>
            <li>
              Availability of jobs.
            </li>
          </ol>
          <p>
            In addition to the excessive form weight, there was no information on how the application to Hassle.com itself proceeded.
          </p>
          <h4>Secondary concerns for cleaners</h4>
          <ul>
            <li>Who else is on the platform? What are their experiences?</li>
            <li>How much could you earn ‘widget’?</li>
            <li>Showing the online product itself, tied to flexibility</li>
            <li>Show cleaner success team</li>
          </ul>
          <h2>Success Metric</h2>
          <p>
            We set a success metric of <strong>40% bounce rate,</strong> once finishing the feature, we would review the data after a certain amount of tiem, to see whether the bounce rate had dropped.
          </p>
          <h2>
            Wireframing
          </h2>
          <p>
            Before wireframing, I ran a small excercise of stacking the 'sections' in level of importance; me and <a href="www.benhawkyard.co" title="Ben">Ben,</a> did this independantly, then showed the results. This helped me to have a general sense of heirarchy for the elements on the page.
          </p>
        </div>
        <img src="/assets/images/application-funnel/01.jpg" class="image image--padded" width="940"/>
        <img src="/assets/images/application-funnel/02.jpg" class="image image--padded" width="940"/>
        <div class="work">
          <p>
            My sketching led to some extremely low-fidelity wireframes, which we reviewed as a group of two designers. We quickly talked about what worked and what didn't in terms of intial prototypes; also allowing us to throw away quickly, any prototypes we weren't happy with.
          </p>
        </div>
        <img src="/assets/images/application-funnel/03.jpg" class="image image--padded image--centered" width="400"/>
        <div class="work">
          <p>
            This led me on to higher fidelity wireframes, using some dummy text, but also real text where applicable. We had decided to ship a 'condensed' version of the page and then individually ship each 'section' as a small feature, incrementally.
        </div>
        <img src="/assets/images/application-funnel/04.jpg" class="image image--padded image--centered" width="400"/>
        <img src="/assets/images/application-funnel/05.jpg" class="image image--padded image--centered" width="940"/>
        <div class="work">
          <h2>
            Application funnel
          </h2>
          <p>
            Having a fairly good base to start building, I also decided to make some changes further into the bid funnel, as I would have to chnage the layout due to the changes we'd made. I decided to make the following changes:
          </p>
          <ol>
            <li>
              Due to having the postcode upfront, I would now be able to personalise the experience – showing a map as a background of where the applicant is from, as well as telling them whether they have work in that area.
            </li>
            <li>
              Remove unwanted destractions from the navigation of the 2nd sectino of funnel, without removing capability to easily get out of the funnel.
            </li>
          </ol>
          <h2>
            Built product shots
          </h2>

          <p>
            High res shots of apply page go here !!!!!!!!!!!!!!!
          </p>

          <h2>
            Metric review
          </h2>

          <p>
            Upon shipping the changes above, we saw a reduction on bounce rate to around <strong>43%,</strong> (a 22% decrease) thus practically hitting our success rate. The plan is to start shipping the individual tickets already wireframed, which we're hoping will decrease bounce rate even further.
          </p>

          <p>
            In terms of conversion, we increased overall conversion by about 1%, not as high a statistic, but our hypothesis is that this shall also increase with the extra iterations.

          </p>


        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
