{% block content %}
<section id="baseline">
  <div class="section typeset section--full-width">
    <div class="single">
      <div class="main-container">
        <div class="work">
          <h1>Work title</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ligula enim, mollis eget nisl vel, tincidunt hendrerit dolor. Vivamus molestie dapibus lorem a ornare. Nam ultrices interdum risus, ac vestibulum lacus bibendum eget.
          </p>
          <p>
            Pellentesque id fermentum mi, non dignissim leo. Suspendisse tempus felis ut metus congue, viverra viverra dui pulvinar. Nunc sagittis enim ut eros faucibus, sed sollicitudin libero blandit. Nam venenatis augue vel enim ullamcorper, vitae placerat risus tempor. Mauris vestibulum dictum erat sed varius.
          </p>
        </div>
        <img src="/assets/images/test.jpeg" class="image--padded" />
      </div>
    </div>
  </div>
</section>
{% endblock %}
