{% block navclass %}main-nav-container--secondary{% endblock %}
{% block content %}
<section id="baseline">
  <div class="section typeset section--full-width">
    <div class="single">
      <div class="work-heading-container">
        <div class="main-container">
          <div class="work-heading">
            <h1 class="heading--bordered heading--work heading--white">Hassle help centre</h1>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="work">
          <h1>The problem</h1>
            <p>This feature was introduced to tackle the following problems:</p>
            <p>Current FAQs were not</p>
            <ol>
            <li>Searchable</li>
            <li>Hosted as separate ‘entity’</li>
            <li>Structured, all FAQs were in one long list</li>
            <li>Referenced consistently through the app</li>

            <h2>Self serving</h2>
            <p>
              The focus of this feature was not to replace contacting Hassle.com, or to replace the great customer service team we have. Rather, this is to allow customers who would rather self serve online, before contacting our customer services.
            </p>

            <h2>Gathering data</h2>
            <p>
              We used data gathered from the customer service team to determine the most frequently asked questions in the whole list, as well as the most frequently asked questions within the sections of the question categories.
            </p>
        </div>
          <img src="/assets/images/help/04.jpg" class="image image--padded image--centered" width="940"/>
          <img src="/assets/images/help/03.jpg" class="image image--padded image--centered" width="940"/>
          <img src="/assets/images/help/01.jpg" class="image image--padded image--centered" width="940"/>
          <img src="/assets/images/help/02.jpg" class="image image--padded image--centered" width="940"/>
      </div>
    </div>
  </div>
</section>
{% endblock %}
