{% block navclass %}main-nav-container--secondary{% endblock %}
{% block content %}
<section id="baseline">
  <div class="section typeset section--full-width">
    <div class="single">
      <div class="work-heading-container">
        <div class="main-container">
          <div class="work-heading">
            <h1 class="heading--bordered heading--work heading--white">Cleaner performance</h1>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="work">
          <h1>The problem</h1>
          <p>
            Cleaner performance is one of the most important aspects of Hassle.com. Having great cleaners, who improve due to the feedback they receive is fundamental to our customers.
          </p>
          <p>
            Previously, we relayed feedback through the app only via customer ratings. We wanted to create a range of ‘scores’ out of 10 cleaners could view to enable a better understanding on how they can improve as a Hassle.com cleaner.
          </p>
          <h2>Score categories</h2>
          <ol>
            <li>Completing first bookings</li>
            <li>Completing third bookings</li>
            <li>Confirming bookings in advance</li>
            <li>Responding to change requests</li>
            <li>Bookings not clashing</li>
            <li>Getting positive reviews</li>
            <li>Reading messages</li>
            <li>Responding to new booking</li>
            <li>Responding to job offers</li>
            <li>Taking payment promptly</li>
          </ol>
          <h2>Build</h2>
          <p>
            We built this feature over the course of a day and a half, as a first iteration of a extended feature after some user testing.
          </p>

          <img src="/assets/images/cleaner-performance/01.jpg" class="image image--padded image--centered" width="940"/>
          <img src="/assets/images/cleaner-performance/02.jpg" class="image image--padded image--centered" width="940"/>
          <div class="work">
            <h2>Testing, 1,2?</h2>
            <p>
              We rolled this feature out to a small pool of cleaners, who we shall be asking for feedback, as well as tracking performance rate, to see if the cleaners scores improve over time from using this feature.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
